/* Custom Login Styles */
 
html { background-color: #fff; height:100%;}	/* Page background. Can't use the body tag for this! */

#login {
  padding-top: 10px;
}

body.login #login h1 a {	/* Title image (The "WordPress Logo"). Remember to update the height and width your image's dimensions */
  background:url('../images/logo.png') 0 0 no-repeat;
    width: 235px;
    height: 34px;
  margin:40px auto;
  background-size: auto;
} 
 
.login form {
  background-color: #fff !important;
  border-radius: 0px;
  border: 1px solid #ddd !important;
  min-height:150px;
  width:262px;
  box-shadow:none;
  border:none;
} 
 
body.login {background: url('../img/pattern.png') repeat; border-top-color:#1d1d1b height:100%; }	/* Top bar background color */

.login p#nav a:link, .login p#nav a:visited, .login p#backtoblog a:link, .login p#backtoblog a:visited {color:#000 !important; text-shadow: none;}	/* Link effects in top bar */
.login p#nav a:hover, .login p#nav a:active, .login p#backtoblog a:hover, .login p#backtoblog a:active {color:#ddd !important; text-decoration:underline;}	/* Rollover link effects in top bar */

