/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
}

/* Portrait */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
	  
.open_menu .menu_sec {
    position: fixed;
    top: 104px;
    height: 47%;
}
	a.logohiden {display: inline-block !important;     text-align: center;
    margin: 0 auto;}
.loader-s {display: none !important;}
}


/* ----------- iPad  ----------- */
/* Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
}

/* Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
	
	.open_menu .menu_sec {
    top: 82px;
    height: 45%;
}
	a.logohiden {display: inline-block !important;     text-align: center;
    margin: 0 auto;}
.loader-s {display: none !important;}
}

/* Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	  
.open_menu .menu_sec {
    position: fixed;
    top: 104px;
    height: 70%;
}
	a.logohiden {display: inline-block !important;     text-align: center;
    margin: 0 auto;}
.loader-s {display: none !important;}
}

@media (max-height:928px) {

.open_menu .menu_sec {

    height: 70%;
}
}

@media (max-height:590px) {

.open_menu .menu_sec {

    height: 70%;
}

nav ul li a {
    display: block;
    width: 346px;
    margin: 0 auto;
    font-size: 40px;
    line-height: 46px;
    color: #ffffff;
    border: 1px solid transparent;
    font-weight: 300;
}
}

@media (max-height:489px) {
nav ul li a {

    font-size: 30px;
    line-height: 36px;

}
}
@media (max-width:1040px) {
    .container {width: 100%;}
    .banner ul li figure img {height: auto;}
    .home .banner ul li figure img {height: 350px;}

    nav {padding: 0 0 30px 0;}
    
    .filter_data{margin: 0;}
    .filter_nav li a{padding: 13px 15px;}
    .filter_info_btm{padding: 15px 15px;}
    .filter_info_btm h2{font-size: 23px;line-height: 24px;margin: 0 0 5px 0;}
    
    .airline{padding:12px 0;}
	.building{padding:12px 0;}
	.cnt-sec{padding:12px 0;}
    .case {padding: 28px 0 0;}
}



@media (max-width:991px) {
    .wrapper {padding:  82px 0 0 0;}
    .header_in {padding: 25px 15px;}
    .logo {padding: 0;}
    .head_rgt {padding: 0;}
    .banner_cnt_in h1 {font-size: 80px;}
    .banner_cnt_in a {margin: 0 0 20px 0;}
    .product {padding: 35px 15px 35px; width: 100%;}
    .people_cnt_in p {padding: 0 30px 20px;}
    .clients_blk_in {padding: 30px 5px 19px 5px;}
    .news_blk_in > ul {width: 100%;}
    .news_blk_in > ul > li {padding: 0 20px;}
    .news_cnt {min-height: 385px;}
    .data_refinery {padding: 30px 15px 47px 15px; width: 100%;}
    .footer_in {width: 100%; padding: 30px 15px 35px 15px;}
    .footer_in p {padding: 8px 0 0 0;}
    .news_blk_in {padding: 35px 15px 40px;}
    .clients_blk_in ul li {width: 25%;}
    nav ul li a {font-size: 35px; line-height: 42px;}
    nav ul li {margin: 0 0 5px 0;}
    nav {padding: 0 0 25px;}
    .filter_info figure img {height: 217px; object-fit: cover;}
    
    .inner-container{max-width: 100%;margin:0 auto;}
    .banner figure img{height:auto;}
    .tech-main ul {margin: 0;}
    .inner-container {padding: 0 15px;}
    .dashboard .inner-container {padding: 0;}
    .review p {padding: 36px 0 16px 0;}
    .parcles p {padding: 38px 0px 54px 0;}
    .banner1 p {padding: 0;}
    .proposals p {padding: 35px 0 39px 0;}
    .tech-main p {padding: 10px 7px 0 11px;}
    .cnt-rgt {width: 335px; margin: 0 auto;}
    .airline strong {display: none;}
    .building strong {display: none;}
    .cnt-sec strong {display: none;}
    .cnt-sec h3 {line-height: 43px;}
    .hello {padding: 0 0 0 30px;}
	.open_menu .menu_sec{top: 82px;height: 420px;}
}
@media (max-width:767px) {
    .banner_cnt_in a {width: 80px;}
    .banner_cnt_in h1 {font-size: 60px; line-height: 70px;}
    .people_cnt_in ul li {margin: 0 0 20px 0;}
    .people_cnt_in {padding: 28px 0 15px 0;}
    .clients_blk_in ul li {width: 33.33%;}
    .news_blk_in > ul > li {margin:  0 0 20px 0; padding: 0;}
    .footer_in p {padding: 0 0 20px 0;}
    .ftr_socl_icons {text-align: center;}
    .news_blk_in {padding: 35px 15px 15px;}
    nav ul li a {font-size: 25px; line-height: 35px;}
    nav {padding: 0 0 10px;} 
    .news_cnt {min-height: inherit;}
    
    .filter_nav li a{font-size: 15px;line-height: 15px;padding: 10px 10px;}
    .filter_nav li{padding: 0 1px 6px 0px; margin: 2px 0;}
    .filter_data ul li{margin: 10px 0;padding: 10px 0;}
    .filter_info_btm > span small {font-size: 12px;}
    .filtering_tab {position:relative;}
	.filter_nav  {display:none;position:absolute;left:0;top:100%;width:100%; z-index: 15; background: #ffffff; padding: 10px 0;}
	.open_select .filter_nav {display:block;}
	.filter_label{display:block;background:#ff8c27;color:#fff;cursor:pointer; padding: 5px 10px 5px 10px; text-align: center; font-size: 20px;}
    .filter_label:after {content: "\f0d7"; display: inline-block; font-family:'FontAwesome'; font-size: 25px; color: #ffffff; vertical-align: middle; margin: 0 0 0 10px;}
	.filter_nav > li{display:block;padding:0;}
	.filter_nav > li > a{display:block;}
    .filtering_tab span {display: none;}
    .filter_label {display: block;}
    
    .review h1{font-size:48px;}
	.banner1 p{font-size:20px;padding:0 15px;line-height:22px;}
	.proposals p{font-size:15px;line-height: 17px;}
	.hello h3{font-size: 20px;line-height: 22px;}
	.hello p{font-size: 15px;line-height: 17px;}
	.navicon{top:55%;}
	.navicon a{font-size: 30px;}
	.details a{font-size:18px;line-height:20px;}
	.hello{padding:0 0 0 10px;}
	.details{width: 210px;}
    .mobile_img {float: none; display: block;}
    .tech-main ul li {margin: 0 0 12px 0;}
	.open_menu .menu_sec{height: 350px;}
    
}
@media (max-width:599px) {
    .ven_daigram {width: 288px; min-height: 175px;}
    .daigram_cir {width: 160px; height: 160px;}
    .mid1 {left: 116px;}
    .outer1 p {left: 15px; font-size: 17px; line-height: 20px;}
    .outer2 p {right: 15px; font-size: 17px; line-height: 20px;} 
    .mid:after {width: 30px; height: 40px; background-size: cover; left: 6px;}
    .banner_cnt_in a {width: 60px;}
    .banner_cnt_in h1 {font-size: 50px; line-height: 60px;}
    .product p {font-size: 18px;}
    .people_cnt_in p {font-size: 18px;}
    .clients_blk_in ul li {width: 50%;}
    .data_refinery p{font-size: 18px;}  
    nav ul li a {font-size: 20px; line-height: 25px;}
    nav {padding: 0 0 8px;} 
    nav ul li a {width: 200px;}
    .header_in {padding: 20px 15px;}
    .wrapper {padding:  72px 0 0 0;}
    
    .filter_info figure{width: 100%;}
    .filter_info_btm{width: 100%;}
    .filter_info_btm h2{font-size: 19px;line-height: 19px;}
    .filter_info_btm p{font-size: 15.1px;line-height: 18px;margin: 0 0 20px 0;}
    .filter_data ul li{padding: 0;}
    .filter_info_btm{height: auto !important;}
    .filter_info_btm p{    margin: 0 0 40px 0;}
    .menu_sec.menu_sec1 {padding: 15px 0;}
    
    
    .banner1 p{font-size:20px;padding:0 15px;line-height:22px;}
	.hello{float:none!important;}
	.details{float:none!important;}
	.cnt-blk h2{padding:0 0 0 0;}
	.details{padding:55px 0 0 0;}
	.hello{padding: 10px 0 0 109px;}
	.details{padding: 89px 0 0 150px;width: 100%;}
	.navicon{top: 49%;}
	.details a{font-size: 15px;}
	.location{height:inherit;}
	.open_menu .menu_sec{height:267px;top: 72px;}
    .map p {font-size: 15px; line-height: 22px;}
    .mail {
    position: relative;
    padding: 0 0 19px 0;
}

.number {
    position: relative;
    padding: 0 0 19px 0;
}
}
@media (max-width:479px) { 
    .header_in {text-align: center;}
    .logo {float: none !important; display: inline-block; margin: 0 0 15px 0; width: 100%;}
    .logo a {display: inline-block;}
    .head_rgt {float: none !important; display: inline-block;}
    .banner figure img {height: 215px;}
        .home .banner ul li figure img {height: 217px;}

    .banner_cnt_in a {margin: 0 0 0 0;}
    .footer_in {padding: 25px 15px 25px 15px;}
    .news_cnt ul li a {display: block; text-align: center;}
    .news_cnt ul li a:before {display: block; margin: 0 auto 5px;}
    .news_cnt ul li a.calender:before {margin: 0 auto 5px;}
    .news_cnt p {padding: 0 12px 30px 12px;}
    .header_in {padding: 10px 15px;}
    .wrapper {padding:  108px 0 0 0;}
    
    .banner .slick-prev {left: 15px; top: 45%;}
    .banner .slick-next {right: 15px; top: 45%;}
    
    .review h1{font-size:25px;line-height:30px;}
    .review p{padding:15px 0 15px 0;}
    .parcles h2{font-size:22px;line-height:25px;}
    .parcles p{padding:15px 0 20px 0;}
    .banner1{padding:0 0 0 0;}
    .banner1 p{font-size:18px;padding:0 15px;line-height:20px;}
	.dashboard{padding:10px 0 0 0;}	
	.cnt-lft p{padding:0 0 10px 0;}
	.cnt-lft a.sign{display:block;text-align:center;}
	.airline{padding:20px 0;}
	.building{padding:20px 0;}
	.cnt-sec{padding:20px 0;}
	.cnt-rgt span{font-size: 18px;padding:52px 29px 0 0;}
	.hello{padding: 10px 0 0 50px;}
	.details{padding: 89px 0 0 65px;}
    .cnt-rgt {width: 100%;}
    .cnt-rgt img {margin: 0 auto;}
	.open_menu .menu_sec { height:218px;top: 107px;}
	a.logohiden {display: inline-block !important;     text-align: center;
    margin: 0 auto;}
.loader-s {display: none !important;}
}










