/* reset.css is here */
*{margin:0; padding:0; box-sizing:border-box; }
table {border-collapse:collapse; border-spacing:0;}
fieldset,img{border:0;}
img{max-width:100%; height:auto; display:inline-block; }
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal; font-weight:normal; }
ol,ul { list-style:none;}
caption,th {text-align:left;}
q:before,q:after {content:'';}
abbr,acronym { border:0;}
a {color:#000; text-decoration:none; outline:0 none !important; transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out;}
a:hover, a:focus {color:#000;  text-decoration:none; outline:0 none !important;}
h1,h2,h3,h4,h5,h6 {font-size:100%; font-weight:bold; font-family: 'Catamaran', sans-serif; padding: 0; margin: 0;}
h1 {font-size:76px; font-weight: 300;}
h2 {font-size:36px; font-weight: 400;}
h3 {font-size:24px; font-weight: 400;}
h4 {font-size:16px;}
h5 {font-size:14px;}
h6 {font-size:12px;}
p{font-size:20px;line-height: 26px;font-weight: 300;padding: 0;margin: 0;}
header,nav,section,article,aside,footer,hgroup,figure,main {display: block; }
.clear{clear:both; font-size:1px;line-height:1px; display:block; height:0;}
.last	{margin:0 !important;}
.pad_last{padding:0 !important;}
.no_bg {background:none !important;}
.no_bor{border:0 none !important; }
.flt_lt {float:left; display:inline;}
.flt_rt {float:right; display:inline;}
img {max-width: 100%; height: auto; display: block;}
figure {display: block; margin: 0;}
/* reset.css ends here */

html {}
body {color:#444444; font-family: 'Catamaran', sans-serif; font-size:12px; }
.transition {transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out;}
/* LayOut Start here */

.loader-s {
  width: 100px;
  height: 125px;
  margin: 2% auto;
  background: url('../images/datashed-l-mod.png') left center;
  background-size: 7600px 125px;
  animation: play-s 4s steps(45) forwards;
  -webkit-animation: play-s 4s steps(45) forwards;
  -moz-animation: play-s 4s steps(45) forwards;
  -ms-animation: play-s 4s steps(45) forwards;
  -o-animation: play-s 4s steps(45) forwards;

 
}


@-webkit-keyframes play-s {
    
      from { -webkit-background-position:    0px; }
    to { -webkit-background-position: -4500px; }

    
    }

@-moz-keyframes play-s {
   from { -moz-background-position:    0px; }
    to { -moz-background-position: -4500px; }

}


@keyframes play-s {
  from { background-position:    0px; }
    to { background-position: -4500px; }
}


	a.logohiden {display: none !important;
		
	}



.wrapper	{padding: 105px 0 0 0;}

.container	{width:1024px; margin:0 auto;}

/* Header starts here */
header	{background: #ffffff; position: fixed; left: 0; top: 0; z-index: 99; width: 100%;}
.header_in {padding: 35px 0 35px 0;}
.logo	{padding: 0 0 0 30px;}
.logo a {display: block;}
.head_rgt {padding: 4px 19px 0 0;}
.head_rgt > ul {padding: 0; margin: 0; float: right; font-size: 0;}
.head_rgt > ul > li {display: inline-block;vertical-align: middle;padding: 0 12px;line-height: 30px;} 
.head_rgt > ul > li > span {font-size: 20px; font-weight: 400; line-height: 28px; vertical-align: middle; margin: 3px 0 0 0;}
.head_rgt > ul > li > a {display: inline-block; vertical-align: middle;}
.head_rgt > ul > li > a small {display: inline-block; vertical-align: middle; background: url(../images/user_icon.png) no-repeat; width: 30px; height: 28px;}

.menu_btn {display: inline-block; border: 0 none; background: none; outline: none; width: 28px; vertical-align: middle;}
.menu_btn span {position: relative; width: 100%; height: 1px; background: #000000; border-radius: 1px; display: block;}
.menu_btn span + span {margin: 5px 0 0 0;}

.menu_sec.menu_sec1 {height: auto; padding: 30px 30px;}
.menu_sec.menu_sec1 .menu_sec_in {position: static; transform: none; -webkit-transform: none;}

.menu_sec {background: #ff8c27; width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index:20; display: none;}
.open_menu .menu_sec{position: fixed;top: 104px;height: 61%;}
.menu_sec_in {position: absolute; z-index: 9; left: 0; right: 0; margin: 0 auto; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); max-width: 1024px;}
/* Navigations */
nav			      {text-align: center; padding: 0 0 30px 0;}
nav ul		      {padding: 0; margin: 0;}
nav ul li	      {display: block; margin: 0 0 8px 0; transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out;}
nav ul li a	      {display: block; width: 346px; margin: 0 auto; font-size: 50px; line-height: 60px; color: #ffffff; border: 1px solid transparent; font-weight: 300;}
nav ul li:hover a {color: #5c59a7; border: 1px solid #5c59a7;}

.social_icons {padding: 0; text-align: center;}
.social_icons ul {padding: 0; margin: 0; font-size: 0;}
.social_icons ul li {display: inline-block; vertical-align: top; padding: 0 8px;}
.social_icons ul li a {display: block;}
.social_icons ul li a .fa {font-size: 20px; color: #ffffff; font-family:'FontAwesome';}
.social_icons ul li a:hover .fa  {color: #5c59a7;}

.menu_cnt {display: block;}
.close_cnt {display: none;}
.open_menu .head_rgt > ul > li > span.menu_cnt {display: none;}
.open_menu .head_rgt > ul > li > span.close_cnt {display: block;}

/* Header Ends here */

/* Main content starts here */
.main_content	{padding: 0; position: relative;}

.banner {position: relative;}
.banner ul {padding: 0; margin: 0;}
.banner ul li {position: relative;}
.banner ul li figure {display: block;}
.banner ul li figure img {width: 100%; height: 471px; object-fit: cover;}
.banner_cnt {position: absolute;z-index: 9;left: 0;top: 52%;width: 100%;transform: translateY(-50%);-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);}
.banner_cnt_in  {padding: 0; text-align: center;}
.banner_cnt_in a {display: inline-block;margin: 0 0 32px 0;}
.banner_cnt_in a img {width: auto; height: auto;}
.banner_cnt_in h1 {font-weight: 300; color: #ffffff;}

.banner .slick-prev {left: 30px; z-index: 9;}
.banner .slick-next {right: 30px; z-index: 9;}
.banner .slick-prev:before {content: "\f104"; font-family:'FontAwesome'; font-size: 50px; color: #ffffff;}
.banner .slick-next:before {content: "\f105"; font-family:'FontAwesome'; font-size: 50px; color: #ffffff;}

.product_blk {background: #ffffff;}
.product    {padding: 42px 12px 59px;text-align: center;width: 80%;margin: 0 auto;}
.product p {padding: 0 0 32px 0;}
.see_btn {width: 202px; height: 50px; border: 1px solid #5c59a7; font-size: 20px; color: #5c59a7; display: block; margin: 0 auto; font-weight: 400; background: none;}
.see_btn:hover {border: 1px solid #ff8c27;color: #ff8c27; }


.people_blk {background: url(../images/banner_img.jpg) no-repeat; background-size: cover;}
.people_cnt_in {padding: 28px 0 59px 0;text-align: center;}
.people_cnt_in h2 {color: #ffffff;margin: 0 0 15px 0;}
.people_cnt_in p {color: #ffffff;padding: 0 128px 20px;}
.people_cnt_in .get {color: #ffffff;border: 1px solid #ffffff;}
.people_cnt_in .get:hover {color: #ff8c27;border: 1px solid #ff8c27;}

.people_cnt_in ul {padding: 41px 0 0 0;margin: 0;}
.people_cnt_in ul li {}
.people_cnt_in ul li p {padding: 0; line-height: 22px;}
.circle_blk {display: inline-block;position: relative;margin: 0 0 15px 0;} 
.circle_blk span {display: block; position: absolute; z-index: 2; left: 0; top: 50%; right: 0; margin: 0 auto; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); font-size: 72px; color: #ffffff; font-weight: 300;}
.circle_blk figure img {height: auto; width: auto;}
.circle_blk span sup {font-size: 36px;}

.clients_blk {background: #f3f3f3;}
.clients_blk_in {padding: 30px 0 19px 0;}
.clients_blk_in h2 {text-align: center; margin: 0 0 6px 0;}
.clients_blk_in ul {padding: 0; margin: 0; font-size: 0;}
.clients_blk_in ul li {display: inline-block;float: none; text-align: center; padding: 0 10px;position: relative;width: 20%;margin: 0 0 20px 0; transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out;}
.clients_logo {display: inline-block;vertical-align: middle;min-height: 145px;width: 100%;position: relative;}
.clients_logo a {display: block; position: absolute; z-index: 2; left: 0; top: 50%; right: 0; margin: 0 auto; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%);}
.clients_logo a img {display: inline-block;}

.study {width: 100%;min-height: 145px;position: absolute;z-index: 2;left: 0;top: 0;background: rgba(255, 140, 39, 0.9);display: none; cursor: pointer;}
.study span {display: block; font-size: 20px; color: #ffffff; font-weight: 400; position: absolute; z-index: 2; left: 0; top: 50%; width: 100%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%);}
.study span small {display: block; padding: 0 0 12px 0;}
.study span small img {display: block; margin: 0 auto;}

.clients_blk_in ul li:hover .study {display: block;}

.news_blk {background: #ffffff;}
.news_blk_in {padding: 49px 0 67px 0;margin: 0;}
.news_blk_in  h2 {text-align: center;margin: 0 0 30px 0;}
.news_blk_in > ul {padding: 0;margin: 0 auto;width: 79%;}
.news_blk_in > ul > li {display: inline-block;vertical-align: top;padding: 0 40px;}
.news_cnt {padding: 0 0 40px 0;background: #e2e2e2;position: relative;min-height: 372px;}
.news_img {display: block;margin: 0 0 12px 0; position: relative;}
.news_img figure img {width: 100%;}
.news_cnt h3 {
    padding: 0 9px 4px 11px;
}
.news_cnt p {font-size: 18px;line-height: 21px;padding: 0 12px 10px;}
.news_cnt ul {padding: 0 12px 0 12px;margin: 0;font-size: 0;}
.news_cnt ul li {display: inline-block;width: 48%;}
.news_cnt ul li a {font-size: 14px; line-height: 20px; font-weight: 300; display: inline-block; vertical-align: middle;}
.news_cnt ul li a:before {content: '';display: inline-block;vertical-align: middle;background: url(../images/user_icon.png) no-repeat;width: 22px;height: 20px;margin: -5px 6px 0 0;background-size: cover;} 
.news_cnt ul li a.calender:before {content: "\f073";font-family:'FontAwesome';font-size: 22px;color: #444444;background: none;width: auto;height: auto;margin: -5px 9px 0 0;} 

.profile {position: absolute;z-index: 2;left: 0;bottom: 12px;width: 100%;}

.read_more {position: absolute; z-index: 2; left: 0; top: 50%; width: 100%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%);display: none;}
.news_img:hover .read_more{display: block;}
.news_img:hover .pu-over-lay{display: block;}
.read_more a {display: block; text-align: center;}
.read_more a img {display: block; margin: 0 auto 15px; height: 27px !important;}
.read_more a small {display: block; font-size: 20px; color: #ffffff; font-weight: 400; line-height: 25px;}


.data_refinery_blk {background: #f3f3f3;}
.data_refinery {padding: 30px 0 47px 0;width: 66%;margin: 0 auto;}
.data_refinery h2 {text-align: center; padding: 29px 0 18px 0;}
.data_refinery p {}

.ven_daigram {width: 490px;min-height: 290px;margin: 0 auto;position: relative;}
.daigram_cir1 {width: 290px; height: 290px; background: #5cdcc1; border-radius: 100%; position: absolute; z-index: 2; left: 0; top: 0;}
.daigram_cir2 {width: 290px; height: 290px; background: #5c59a7; border-radius: 100%; position: absolute; z-index: 2; right: 0; top: 0;}
.daigram_cir3 {width: 100px; height: 220px; background: #ff8c27; border-radius: 100%; position: absolute; z-index: 2; right: 0; margin: 0 auto; top: 50%; left: 0; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%);}


.daigram_cir {
  width: 290px;
  height: 290px;
  position: absolute;
  border-radius: 50%;
}

.innerw {
  left: 0px;
  top: 0px;
  overflow: hidden;
}

.innerw2 {
  left: 170px;
  top: 0px;
  overflow: hidden;
}

.inner {
  left: -85px;
  top: 130px;
  background-color: palegreen;
  z-index: 20;
}

.inner:hover {
  background-color: green;
}

.midw1 {
  left: 0px;
  top: 0px;
  overflow: hidden;
}

.mid1 {
  left: 188px;
  top: 0px;
}
.midw2 {
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.mid2 {
  left: 85px;
  top: 130px;
}
.mid {
  background-color: #ff8c27;
  z-index: 15;
}
.mid:after {content: '';position: absolute;z-index: 9;left: 27px;top: 50%;background: url(../images/logo_icon1.png) no-repeat;width: 49px;height: 64px;transform: translateY(-50%);-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);}

.outer1 {
  left: 0px;
  top: 0px;
  background: #5cdcc1;
}
.outer1 p    {color: #552d8b;position: absolute;z-index: 9;left: 56px;top: 52%;transform: translateY(-50%);-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);text-align: center;line-height: 27px;}
.outer2 {
  right: 11px;
  top: 0px;
  background: #5c59a7;
}
.outer2 p    {color: #ffffff;position: absolute;z-index: 9;right: 40px;top: 52%;transform: translateY(-50%);-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);text-align: center;line-height: 26px;}
.outer {z-index: 10;}


/* Main content ends here */

/* FOOTER HERE */
footer		{background: #ffffff;}
.footer_in {padding: 31px 0 45px 0;width: 91%;margin: 0 auto;}
.footer_in p {font-size: 12px;line-height: 15px;padding: 8px 0 0 54px;}

.ftr_socl_icons {padding: 0;text-align: right;}
.ftr_socl_icons ul {padding: 0; margin: 0; font-size: 0;}
.ftr_socl_icons ul li {display: inline-block; vertical-align: top; padding: 0 8px;}
.ftr_socl_icons ul li a {display: block;}
.ftr_socl_icons ul li a .fa {font-size: 20px; color: #394756; font-family:'FontAwesome';}
.ftr_socl_icons ul li a .fa:hover {color: #ff8c27; }

.map_sec {height: 540px;}

.copy_rights    {}


.open_menu .menu_btn span:nth-child(1) {transform: rotate(-45deg);-webkit-transform: rotate(-45deg);top: 10px;}
.open_menu .menu_btn span:nth-child(2) {opacity: 0;}
.open_menu .menu_btn span:nth-child(3) {transform: rotate(45deg);-webkit-transform: rotate(45deg);top: -2px;}
.open_menu .menu_btn span:nth-child(4) {opacity: 0;}


/*---------- INNER2 ----------*/

.filtering{width: 100%;padding: 10px 0;max-width: 995px;margin:0 auto; padding: 0 15px 30px;}
.filtering > span{font-size: 15px;line-height: 15px;color: #444444;padding: 0 0 7px 0;display: inline-block;}
.filter_nav{margin-bottom: 0px;}
.filter_nav li{display: inline-block;padding: 0 1px 16px 0px;}
.filter_nav li a{display: inline-block;font-size: 20px;line-height: 20px;color: #444444;padding: 13px 18px;border: 2px solid;}
.filter_nav li a:hover{background: #ff8c27;border-color: #ff8c27;color: #fff;}
.filter_data{margin: 0 -4px;}
.filter_info{width: 100%; background: #f3f3f3;}
.filter_info figure{padding: 0;position: relative;}
.pu-over-lay{width: 100%;height: 100%;left: 0;top:0;background: rgba(92,88,167,0.5);position: absolute;display: none;}
.filter_info figure > img{width: 100%;}
.filter_info figure:hover .read_more{display: block;}
.filter_info figure:hover .pu-over-lay{display: block;}
.filter_info_btm{/*width: 100%;*/background: #f3f3f3;padding: 18px 22px;position: relative;}
.filter_info_btm h2{font-size: 28px;line-height: 30px;color: #444444;font-weight: 400;letter-spacing: 0.2px;margin: 0 0 7px 0;}
.filter_data ul li{padding: 8px 4px;}
.filter_info_btm p{font-size: 17.1px;line-height: 20px;color: #444444;font-weight: 300;letter-spacing: 0;margin: 0 0 30px 0;}
.filter_info_btm > span{display: inline-block;position: absolute;bottom: 15px;}
.filter_info_btm > span small{display: inline-block;vertical-align: middle;font-size: 14px;line-height: 14px;font-weight: 300;color: #444444;}
.filter_info_btm > span img{display: inline-block;vertical-align: middle;margin: 0 7px 0 0;}

.filter_info_top{/*width: 100%;*/padding: 18px 18px;position: relative;}
.filter_info_top p{font-size: 17.1px;line-height: 20px;color: #444444;font-weight: 300;letter-spacing: 0;margin: 0 0 30px 0;}
.filter_info_top > span{display: inline-block;position: absolute;bottom: 15px;}
.filter_info_top > span small{display: inline-block;vertical-align: middle;font-size: 14px;line-height: 14px;font-weight: 300;color: #444444;}
.filter_info_top > span img{display: inline-block;vertical-align: middle;margin: 0 7px 0 0;}

.con_person{left: 22px;}
.con_date{right: 22px;}

.pagenation {padding: 0 0 30px 0; text-align: center;}
.pagenation ul {padding: 0; margin: 0;}
.pagenation ul li {display: inline-block; vertical-align: middle; padding: 0 5px;}
.pagenation ul li a {display: block; width: 35px; height: 50px; border: 1px solid #444; text-align: center; line-height: 50px; font-size: 20px; font-weight: 400;}
.pagenation ul li a:hover {background: #ff8c27; color: #ffffff; border: 1px solid #ff8c27;}

a.page-numbers {display: inline-block; vertical-align: middle; padding: 0 5px;}
a.page-numbers li {display: block; width: 35px; height: 50px; border: 1px solid #444; text-align: center; line-height: 50px; font-size: 20px; font-weight: 400;}
a.page-numbers li:hover {background: #ff8c27; color: #ffffff; border: 1px solid #ff8c27;}
.current {color: #ffffff;}
.current li {display: block; width: 35px; height: 50px; border: 1px solid #444; text-align: center; line-height: 50px; font-size: 20px; font-weight: 400; background: #ff8c27;}
.filtering_tab span {font-size: 16px;}
.filter_label {display: none;}

/*---------- INNER1 ----------*/
.inner-container {max-width: 760px;margin: 0 auto;padding: 0 0 0 28px;}
.banner img{width: 100%;height: 478px;object-fit:  cover;}
.review{padding: 30px 0 30px 0;}
.review h1{font-size: 51px;line-height: 56px;font-family:'Catamaran', sans-serif;font-weight:300;text-align: center;color:#444444;letter-spacing: 0;padding: 0 0 0 0;}
.review p{padding:12px 0 16px 10px;letter-spacing: 0.1px;line-height: 25px;margin: 0;}
.review h3 {padding:12px 0 16px 10px;}
.review-main ol, .review-main ul {    padding: 16px 0 16px 10px;
    letter-spacing: 0.1px;
    line-height: 25px;
    margin: 0; list-style: disc;     font-size: 20px; margin-left: 20px;     color: #444444;
    font-family: 'Catamaran', sans-serif; font-weight:300;}
.parcles{padding: 0px 0 0 0px;/* letter-spacing: 0.4px; */}
.parcles h2 {color: #5c59a7; text-align: center;}
.parcles p{padding: 38px 0px 54px 10px;line-height: 25px;margin: 0;font-size: 20px;}
/*banner1*/
.banner1 {padding: 0;position: relative;}
.period{position: absolute;top: 51%;left: 0;right: 0;text-align: center;transform: translateY(-50%);-webkit-transform: translateY(-50%);-o-transform: translateY(-50%;)-ms-transform: translateY(-50%;)-moz-transform: translateY(-50%;)}
.banner1 p{font-size:26px;line-height: 32px;font-family:'Catamaran', sans-serif;font-weight:300;position:relative;color:#444444;margin:0 auto;padding: 0;color:#ffffff;text-align:left;padding: 0px 0 0px 11px;}
.banner1 img{width: 100%;height: 429px;object-fit:  cover;}

.banner1 h2 {color: white; margin-bottom: 30px;}
/*proposals*/
.proposals{display:block;padding: 0 0 40px 0;}
.proposals p{padding: 35px 0 39px 10px;letter-spacing: 0.1px;line-height: 26px;margin: 0;}
.tech-main{padding: 0;}
.tech-main ul {margin: 0 -15px;}
.tech-main ul li {
    padding: 0 15px;
}
.tech-main ul li .technology figure {min-height: 45px;}
.technology img {max-width: 70px;}
.tech-main ul li .technology img {margin: 0 auto;}
.tech-main p{padding: 10px 7px 0 11px;/* line-height: 26px; */}
.process p{padding: 8px 0 0 0px;/* line-height: 26px; */}
.infra p{padding: 10px 0px 0 24px;/* line-height: 26px; */}

/*dashboard*/
.dashboard{vertical-align: top;padding: 48px 0 0 0;}
.dashboard .inner-container{padding:0 0 0 20px;}

.cnt-lft p{padding: 0px 0 23px 0px;line-height: 26px;}
.cnt-lft a.sign{color:#5c59a7;font-family:'Catamaran', sans-serif;font-size: 20px;line-height: 22px;font-weight:400;border:1px solid #5c59a7;padding: 12px 70px;display: inline-block;}
.cnt-lft a.sign:hover {color:#ff8c27;border:1px solid #ff8c27;}


.sign{/* text-align: center; */padding: 21px 0 45px 0;}
.cnt-rgt img{}
.cnt-rgt span{position:absolute;font-size:20px;line-height: 25px;font-family:'Catamaran', sans-serif;font-weight:300;top: 48%;left: 0;right: 0;text-align: center;transform: translateY(-50%);padding: 0 0 0 10px;}
/*groups*/
.groups{display:block;background:#f0f0f0;padding: 0px 0 10px 0;}
.groups ul{font-size: 0;}
.groups ul li{float: none;vertical-align: top;display: inline-block;padding: 12px 0 0 0;}
.content p{padding: 22px 18px 24px 0;line-height: 26px;}
.marketing p{padding: 17px 18px 24px 0;line-height: 25px;}
.product p{padding: 1px 0px 31px 10px;/* line-height: 24px; */}
.contact p{padding: 14px 44px 24px 0;line-height: 25px;}
/*case*/
.case{display: block;padding: 28px 0 0 0;}
.case h2 {text-align: center; margin: 0 0 21px 0;}
.case ul {padding: 0; margin: 0;}
.case ul li{padding: 0 0 0 0;}
.finanical{position:relative;cursor: pointer;}
.finanical img{width: 100%;height: auto;}
.quantas{position:relative;}
.quantas img{width: 100%;height: auto;}
.building{position:absolute;background:rgba(57, 58, 63, 0.7);left: 0;bottom: 0;right: 0;display:  block;text-align: center;padding: 19px 0;}
.cnt-sec{position:absolute;background:rgba(54, 55, 56, 0.7);left: 0;bottom: 0;right: 0;display:  block;text-align: center;padding: 19px 0;}
.airline{position:absolute;background: rgba(57, 58, 63, 0.7);left: 0px;bottom: 0;right: 0;display:  block;text-align: center;padding: 19px 0;letter-spacing: 0.1px;min-height: 132px;}
.finanical:hover .airline{background: rgba(90, 97, 153, 0.7);}
.airline h3{padding:0 0 0 0;line-height: 44px; color: #ffffff;}
.airline strong{padding: 0px 0 4px 0;  color: #ffffff; font-size: 18px;}
.building h3{padding: 0px 0 0 0;line-height: 43px;  color: #ffffff;}
.building strong{padding:0 0 0 0; color: #ffffff; font-size: 18px;}  
.cnt-sec h3{padding: 0px 0 0 0;  color: #ffffff;}
.cnt-sec strong{padding:0 0 0 0;  color: #ffffff; font-size: 18px; line-height: 21px;}
.automotive{position:relative;}
.automotive img{width: 100%;height: auto;}
/*location*/
.location{position:relative;background:url(../images/location.jpg ) no-repeat;width:100%;height:543px;background-size: cover; background-position: center center;}
.location img{width: 100%;height: auto;}
.cnt-blk{position:relative;padding: 31px 0 30px 0;}
.hello{text-align: left;padding: 0 0 0 85px;}
.hello h3 {color: #ffffff;}
.cnt-blk h2{text-align:center;color:#ffffff;padding: 0 0 100px 0;}
.hello p{font-size: 18px;line-height: 23px;font-weight: 300;font-family:'Catamaran', sans-serif;color:#ffffff;/* display:  block; */padding: 4px 0 0 0;}
.navicon{position: absolute;left: -10px;right:0;top: 72%;width: 36px;height: 48px;margin: 0 auto;}
.navicon a{display: block;text-align:center;font-size: 50px;color:#ffffff;}
.details{padding: 29px 0px 0 0;width: 289px;}
.details a{font-size: 24px;line-height: 24px;font-weight:300;font-family:'Catamaran', sans-serif;color:#ffffff;padding: 0;display: block;position: relative;}
.details a:hover {color:#ff8c27;}
.number {position: relative;padding: 0 0 30px 0;}
.number:before {
    content:"\f10b";
    color:#ff8c27;
    font-size: 36px;
    font-family:'FontAwesome';
    position:  absolute;
    left: -31px;
    top: -19px;
    }
.mail {position: relative;padding: 0 0 40px 0;}
.mail::before{
	content:"\f003";
	color:#ff8c27;
	font-size: 24px;
	font-family:'FontAwesome';
	position:  absolute;
	left: -36px;
	top: -7px;
	}
.map {position: relative;}
.map p {font-size: 24px; line-height: 26px; color: #ffffff;}
.map::before{
	content:"\f041";
	color:#ff8c27;
	font-size: 30px;
	font-family:'FontAwesome';
	position:  absolute;
	left: -31px;
	top: -9px;
	}

.tech-main.tech_icon {padding: 30px 0;}
.tech-main.tech_icon ul li .technology figure{min-height: 60px;}
.tech-main ul li .technology p span {display: block; font-weight: 400;}
/* inputs feilds */
input, textarea, button, select {
    -webkit-appearance: none; /*Safari/Chrome*/
    -moz-appearance: none; /*Firefox*/
    -ms-appearance: none; /*IE*/
    -o-appearance: none; /*Opera*/
    appearance: none;
    -webkit-border-radius: 0;
}

#error {background-color: #5cdcc1; text-align: center; font-size: 20px; padding-top: 30px; padding-bottom: 30px; color: #5c59a7;}
#error404 {background-color: #5c59a7; text-align: center; color: white; font-size: 160px;}
#errororange {background-color: #ff8c27; text-align: center; color: white; font-size: 72px;}